@charset "utf-8";
body {
    background-image: url;
    font-family: 'Times New Roman', Times, serif;
}
 h1 {
    color: red;
    text-align: center;
    font-size: 75px;
    margin-top: 20px;
    margin-bottom: 10px;
}
h2 {
    text-align: center;
}
h3 {
    color: red;
    text-align: center;
}
form {
    justify-content: center;
    display: flex;
    border: none;
}
.square h2{
    margin : 0px;
    pointer-events: none;  /* Cho phép click xuyên qua thẻ h2 */
}
.square {
    text-align: center;
    margin: 10px auto;
    width: 50%;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 15px; /* Thêm padding để dễ hover */
    background-color: #0e467e; /* Màu nền mặc định */
    transition: all 0.3s ease; /* Hiệu ứng mượt mà */
    cursor: pointer; /* Đổi con trỏ thành bàn tay */
}

/* Hiệu ứng khi hover (Tro chuot vao square) */
.square:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(164, 66, 66, 0.15);
    background-color: #0378ed; /* Màu nền khi hover */
    color: #da2020; /* Màu chữ khi hover */
}

/* Style riêng cho dropdown */
select {
    padding: 8px 15px;
    border: 1px solid #0088e3;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 0px;
    cursor: pointer; /* Đổi con trỏ khi hover vào select */
    transition: all 0.2s ease;
    

}

select:hover {
    border-color: #1a52cb;
    box-shadow: 0 0 0 0.2rem rgba(20, 114, 255, 0.25);
}
#gameMode {
    display: block; /* Đảm bảo nó là block để margin auto hoạt động */
    margin: 0 auto; /* Căn giữa */
}
#boardSize{
      display: block; /* Đảm bảo nó là block để margin auto hoạt động */
    margin: 0 auto; /* Căn giữa */
}

input[type="text"] {
        width: 350px;
        padding: 28px 37px; /*12 20*/
        margin: 30px 0;
        border: 2px solid #ccc;
        border-radius: 25px;
        font-size: 17px;
        text-align: center;
        outline: none;
      }
.options-panel {
          display: none; /* Mặc định ẩn panel */
          position: absolute; /* Để cho panel có thể đè lên các thẻ khác */
          top: 50%; 
          /*
          left : 50%;
          transform: translate(-50%, -50%);
          */
          background-color: white;
          padding: 20px;
          border-radius: 10px;
          box-shadow: 0 0 10px rgba(0,0,0,0.5);
          z-index: 1000; /* Đảm bảo panel hiển thị trên cùng */
          width: 300px;
          max-width: 90%;
      }
    
.close-btn {
        position: absolute;
        top: 5px;
        right: 10px;
        cursor: pointer;
        font-size: 30px;
        font-weight: bold;
        
      }
      
    /* Style cho bảng xếp hạng */

 .leaderboard {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 15px;
            margin-top: 20px;
            width: 80%;
            max-width: 300px;
        }
 #leaderboardList {
            padding-left: 20px;
        }